[defaults]
max_diff_size = 1004448
inventory = inventory.yml
interpreter_python = auto_silent
host_key_checking = False
ansible_python_interpreter=/usr/bin/python3
vault_password_file= .vault_pass

[privilege_escalation]
ansible_become=true
ansible_become_method=sudo
