  global_defs {
    router_id {{ keepalived_node_id }}
    script_user root
    enable_script_security
  }

  vrrp_instance VI_FIREWALL {
    state {{ keepalived_state }}
    interface {{ keepalived_ha_interface }}
    virtual_router_id 51
    priority {{ keepalived_priority }}
    advert_int 1

    unicast_src_ip {{ keepalived_ha_address }}
    unicast_peer {
      {{ keepalived_peer_ha_address }}
    }

    authentication {
      auth_type PASS
      auth_pass {{ keepalived_password }}
    }

    notify_master "/usr/local/sbin/keepalived-master"
    notify_backup "/usr/local/sbin/keepalived-backup"
    notify_stop "/usr/local/sbin/keepalived-backup"
    notify_fault "/usr/local/sbin/keepalived-backup"

    virtual_ipaddress {
{% for vip in keepalived_virtual_ipaddresses %}
      {{ vip.address }}/{{ vip.prefix }} dev {{ vip.interface }}
{% endfor %}
    }
  }
