zebra={{ 'yes' if 'zebra' in frr_daemons else 'no' }}
bgpd={{ 'yes' if 'bgpd' in frr_daemons else 'no' }}
ospfd={{ 'yes' if 'ospfd' in frr_daemons else 'no' }}
ospf6d={{ 'yes' if 'ospf6d' in frr_daemons else 'no' }}
bfdd={{ 'yes' if 'bfdd' in frr_daemons else 'no' }}
